spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/task_database
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # ou validate/create-drop conforme sua necessidade
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080   # porta da sua aplicação Java
